In [1]:
import pandas as pd
import numpy as np

In [15]:
header = df.iloc[13]
df = pd.read_excel('taxpnl-NVQ311-2022_2023-Q1-Q4.xlsx',header =14)
df = df.drop(['Unnamed: 0','Unnamed: 13'],axis =1)

In [18]:
df.isnull().sum()

Symbol                 18
ISIN                   23
Entry Date             23
Exit Date              23
Quantity               23
Buy Value              23
Sell Value             23
Profit                 23
Period of Holding    5680
Fair Market Value    5680
Taxable Profit       5680
Turnover             5680
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7001 entries, 0 to 7000
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Symbol             6983 non-null   object
 1   ISIN               6978 non-null   object
 2   Entry Date         6978 non-null   object
 3   Exit Date          6978 non-null   object
 4   Quantity           6978 non-null   object
 5   Buy Value          6978 non-null   object
 6   Sell Value         6978 non-null   object
 7   Profit             6978 non-null   object
 8   Period of Holding  1321 non-null   object
 9   Fair Market Value  1321 non-null   object
 10  Taxable Profit     1321 non-null   object
 11  Turnover           1321 non-null   object
dtypes: object(12)
memory usage: 656.5+ KB

In [46]:
df['Profit'].isin

<bound method Series.isin of 0         -194.4
1        -1749.6
2        -1584.6
3          -83.4
4          -4025
          ...
6996         NaN
6997         NaN
6998         NaN
6999         NaN
7000    Turnover
Name: Profit, Length: 7001, dtype: object>